<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h3>Login</h3>
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a Username:</label>
          <input class="form-control" type="text" name="username" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>